

body{
    color:var(--branco);
    background-color: var(--bg-home);
}

.cabecalho{
    display: flex;
    flex-direction:column;
  
    background-color:var(--fundo);
    box-shadow: 0 1px o var(--borda-suave);
}
.logo{

    width: 4%;
    display: flex;
    align-items: left;
 
    
}
.barra-topo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    height: 10vh;
    border-bottom: 1px solid var(--branco);
}